Thank you for registerting for the digital artists collective!<br/>
You will need to activate your account by clicking the link sent to you in our confirmation email before you can log in.<br/>
Go back to our <a href="/blog">blog</a>
