<h2>Resend confirmation instructions</h2>

<form name="myForm" ng-submit="resendConfirmationEmail()">
  <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="Email" ng-model="user.email" required>
      </div>
  </div>
  <div class="control-group">
      <div class="controls">
        <input name="commit" type="submit" value="Resend confirmation instructions">
      </div>
  </div>
</form>
<a href="/login">Sign up</a><br/>
<a href="/register">Sign in</a><br/>
<a href="/forgot-password">Forgot your password?</a><br/>
