<h1>Login</h1>
<form name="myForm" ng-submit="create()">
  <div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
      <input type="text" id="username" name="username" placeholder="Username" ng-model="session.username" ng-minlength="3" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Password" ng-model="session.password" ng-minlength="8" password-validate required>
      </div>
    </div>
    <div class="control-group">
      <label class="checkbox" for="remember_me">
        <input type="checkbox" id="remember_me" name="remember_me" ng-model="session.remember_me"> Remember Me
      </label>
    </div>
		<div class="error-message" ng-show"loginError">{{loginErrorMessage}}</div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn" ng-disabled="myForm.$invalid">Login</button>
      </div>
  </div>
  <hr>
  <tt>{{session}}</tt><br>
  <hr>
  <tt>myForm.email.$valid = {{myForm.username.$valid}}</tt><br>
  <tt>myForm.email.$error = {{myForm.username.$error}}</tt><br>
  <tt>myForm.password.$valid = {{myForm.password.$valid}}</tt><br>
  <tt>myForm.password.$error = {{myForm.password.$error}}</tt><br>
  <tt>myForm.$valid = {{myForm.$valid}}</tt><br>
  <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br>
  <tt>myForm.$error.minlength = {{!!myForm.$error.minlength}}</tt><br>
  <tt>myForm.$error.maxlength = {{!!myForm.$error.maxlength}}</tt><br>
</form>
<a href="/register">Sign Up</a><br/>
<a href="/forgot-password">Forgot your password?</a><br/>
<a href="/resend-confirmation-email">Didn't receive confirmation instructions?</a><br/>
