/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
	color: white;
	background: rgb(10, 10, 10);
}

img {
	max-width: 100%;
}

a {
	color: rgb(240, 240, 240);
	text-decoration: none;
}

a:hover {
	color: rgb(102, 153, 0);
}

.site-header {
	height: 50px;
	line-height: 50px;
	color: rgb(245, 245, 245);
	background: rgb(200, 200, 200);
}

.site-header .logo {
	display: inline-block;
	color: rgb(102, 153, 0);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
	font-size: 2em;
	font-style: bold;
}

.site-header .user-nav {
	display: inline-block;
	float: right;
}
