<div id="wrapper" class="container-fluid">	
	<div class="row-fluid">
		<div id="side-nav-container" class="span2">
			<div class="nav-btn"><a href="/blog">Blog</a></div>
		</div>
	<div id="content" class="span10" ui-view=""></div>
</div>
